/* Header CSS */
header, a {
   color: #fff;
   font-family: 'Calibre-Medium', 'NanumSquare-EB', sans-serif;
}
.header {
   padding: 0 11.25rem;
   position: fixed;
   width: 100%;
   height: 4rem;
   top: 0;
   left: 0;
   right: auto;
   bottom: auto;
   z-index: 10;
   background-color: rgb(19,19,19);
}

/* Header Logo CSS */
.header .logo a img {
   width: 8rem;
   height: 1.875rem;
   position: absolute;
   left: 2.5rem;
   top: 1.0625rem;
   right: auto;
   bottom: auto;
}

/* Header GNB CSS */
.header .gnb ul {
   text-align: center;
}
.header .gnb ul li {
   padding: 1rem 5.625rem .875rem 0;
   line-height: 2.0625rem;
   font-weight: 500;
   display: inline-block;
}
.header .gnb ul li:first-child {
   margin-left: 5.625rem;
}
.header .gnb ul li > a {
   font-size: 1.125rem;
}
.header .gnb ul li:hover a {
   color: #007aff;
}

/* Header Language CSS */
.header .lang {
   position: absolute;
   right: 2.5rem;
   top: 1rem;
   left: auto;
   bottom: auto;
}
.header .lang > a {
   color: #aaa;
   display: inline-block;
   margin-left: 1rem;
   font-size: .875rem;
   line-height: 2.0625rem;
   transform: translateY(.2em);
}
.header .lang a:first-child {
   margin-left: 0;
}
.header .lang .on {
   color: #fff;
}
